.page2 {
  padding: 20px;
  color: blue;
}
#components-form-demo-normal-login{
  margin-top:50px;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
  margin: 0 auto;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}